<?xml version="1.0" ?><svg id="Layer_1" style="enable-background:new 0 0 64 64;" version="1.1" viewBox="0 0 64 64" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><style type="text/css">
	.st0{fill:#56AAFF;}
	.st1{fill:none;stroke:#0478ED;stroke-width:2;stroke-miterlimit:10;}
	.st2{fill:#0478ED;}
	.st3{fill:#D9DCE1;}
	.st4{fill:none;stroke:#0478ED;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;}
	.st6{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
	.st7{fill:none;stroke:#56AAFF;stroke-width:2;stroke-miterlimit:10;}
	.st8{fill:none;stroke:#0478ED;stroke-width:3;stroke-linecap:square;stroke-miterlimit:10;}
	.st9{fill:none;stroke:#56AAFF;stroke-width:5;stroke-miterlimit:10;}
	.st10{fill:none;stroke:#0478ED;stroke-width:3;stroke-miterlimit:10;}
	.st11{fill:none;stroke:#D9DCE1;stroke-width:4;stroke-miterlimit:10;}
	.st12{fill:none;stroke:#56AAFF;stroke-width:3;stroke-miterlimit:10;}
	.st13{fill:none;stroke:#56AAFF;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
	.st14{fill-rule:evenodd;clip-rule:evenodd;fill:#D9DCE1;}
	.st15{fill-rule:evenodd;clip-rule:evenodd;fill:#56AAFF;}
	.st16{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st17{fill:none;stroke:#0478ED;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
	.st18{fill:none;stroke:#0478ED;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:0.1099,4.3951;}
	.st19{fill:none;stroke:#0478ED;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:9.264706e-02,3.7059;}
	.st20{fill:#FFFFFF;stroke:#56AAFF;stroke-width:2;stroke-miterlimit:10;}
	.st21{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
	.st22{fill:none;stroke:#0478ED;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:9.776388e-02,3.9106;}
	.st23{fill:none;stroke:#D9DCE1;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
	.st24{fill:none;stroke:#D9DCE1;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:9.002770e-02,3.6011;}
	.st25{fill:none;stroke:#D9DCE1;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:0.1152,4.606;}
	.st26{fill:none;stroke:#D9DCE1;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:9.058228e-02,3.6233;}
	.st27{fill:none;stroke:#D9DCE1;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:8.905454e-02,3.5622;}
	.st28{fill:none;stroke:#D9DCE1;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:9.102297e-02,3.6409;}
	.st29{fill:none;stroke:#D9DCE1;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:9.122662e-02,3.6491;}
	.st30{fill:none;stroke:#D9DCE1;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:6.419753e-02,2.5679;}
	.st31{fill:none;stroke:#D9DCE1;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:6.666666e-02,2.6667;}
	.st32{fill:none;stroke:#D9DCE1;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:6.335912e-02,2.5344;}
	.st33{fill:none;stroke:#D9DCE1;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:6.514134e-02,2.6057;}
	.st34{fill:none;stroke:#D9DCE1;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:6.387379e-02,2.555;}
	.st35{fill:none;stroke:#D9DCE1;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:6.425033e-02,2.57;}
	.st36{fill-rule:evenodd;clip-rule:evenodd;fill:#0478ED;}
	.st37{fill:none;stroke:#56AAFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st38{fill:none;stroke:#D9DCE1;stroke-width:3;stroke-miterlimit:10;}
</style><g><path class="st2" d="M29,56l0-11l6,0l0,11c0,1.6-1.3,3-3,3H32C30.3,59,29,57.7,29,56z"/></g><circle class="st5" cx="32" cy="27" r="18"/><circle class="st9" cx="32" cy="27" r="17.5"/><path class="st3" d="M43.5,27.7l-4.9,4.9c-3.7,3.7-9.6,3.7-13.3,0l-4.9-4.9c-0.4-0.4-0.4-1,0-1.4l4.9-4.9c3.7-3.7,9.6-3.7,13.3,0  l4.9,4.9C43.9,26.7,43.9,27.3,43.5,27.7z"/><path class="st2" d="M33.2,26c-0.7-0.9-0.6-2.1,0-3c0.2-0.2,0-0.6-0.3-0.6c-1.7-0.4-3.6,0.2-4.8,1.8c-1.3,1.7-1.2,4.1,0.1,5.8  c1.8,2.3,5.1,2.4,7.1,0.4c0.8-0.8,1.3-1.9,1.4-3c0-0.3-0.3-0.5-0.5-0.4C35.1,27.3,33.9,26.9,33.2,26z"/><g id="custom_x5F_design"/></svg>