*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 15px;
}

input[type="text"] {
  display: block;
  padding: 10px;
  width: 300px;
}