:root {
  --items-bg: rgb(38, 38, 38);
  --nice-pink: #E07E8A;
  --nice-pink-darker: #D9737F;
}

body, html, my-app {
  height: 100%;
}

body {
  --bs-body-bg: #1D1D1D;
  --bs-body-color: rgba(255, 255, 255, 0.6);
}

my-app {
  display: block;
}

.aside {
  background: var(--items-bg);
  color: #FFF;
  display: flex;
  flex-direction: column;
  width: 265px;
}

.aside a {
  color: #FFF;
}

.aside .accordion {
  --bs-accordion-border-radius: 0 !important;
  --bs-accordion-inner-border-radius: 0 !important;
  --bs-accordion-border-width: 0 !important;
  --bs-accordion-btn-bg: transparent !important;
  --bs-accordion-btn-focus-border-color: transparent !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-active-color: #FFF;
  --bs-accordion-active-bg: transparent !important;
  --bs-accordion-bg: none;
  --bs-accordion-btn-color: #FFF;
}

au-viewport {
  display: block;
  height: 100%;
}

au-viewport > :first-child {
  display: block;
  height: 100%;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}