.message {
  background-color: lightblue;
}
#main-card {
  min-height: 300px;
}
fast-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: var(--type-ramp-plus-5-font-size);
  line-height: var(--type-ramp-plus-5-line-height);
}

fast-card > fast-button {
  align-self: flex-end;
}

fast-tab
{
  margin: 0 5px;
}