<import from="./advanced-example-form"></import>

<div class="container pt-5">

    <div class="row">
        <div class="col-6">
            <h1>Advanced Example</h1>
            <p>In this example we showcase how you can use conditional validation using <code>when</code> to have rules that only apply when certain fields or values are provided. All validation logic is handled inside of <code>basic-example.ts</code></p>
            <p>Try checking the VIP checkbox and hitting submit. Then uncheck it. Notice the error conditionally displays?</p>
            <p>Please also note the use of a custom element. Using <code>newInstanceForScope</code> will allow validation bindings to be used within child custom elements.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <form submit.trigger="submit()">
                <div validation-errors.from-view="errors">
                    <advanced-example-form person.bind="person"></advanced-example-form>

                    <div if.bind="errors.length">
                        <strong>There were some errors:</strong>
                        <ul class="errors list-unstyled" >
                            <li class="text-danger" repeat.for="error of errors">${error.result.message}</li>
                        </ul>
                    </div>
                </div>

                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>